.table{
    vertical-align: middle;
    text-align: center;
    width: 600px;
}
#tr{
    height: 100px;
    th{
        vertical-align: middle;
        text-align: center;
    }
    td{
        vertical-align: middle;
        text-align: center; 
        // line-height: 100px; 
        height: 50px;
        img{
            height: 50px;
        }
    }
}
.add,.modify{
    width: 26%;
    position: absolute;
    top: 30%;
    left: 37%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    h2{
        font-size: 30px;
        line-height: 60px;
    }
    div{
        margin: 20px 0;
        span{
            display: inline-block;
            width: 25%;
            text-align: right;
        }
        select{
            width: 50%;
        }
        input{
            width: 50%;
        }
    }
   
}
#file{
    display: inline-block;
    font-size: 12px;
}