<div class="lv_head">
    <div class="left">
        <a href="/" class="logo">小猩猩后台管理系统</a>
    </div>
    <div class="right">
        <p>欢迎你-小猩猩（管理员）</p>
        <button class="button btn-primary btn-lg">退出</button>
    </div>
</div>