<ul class="lv_menu">
    <li>
        <a href="/logon.html">登录</a>
    </li>
    <li>
        <a href="/register.html">注册</a>
    </li>
    <li>
        <a href="/">首页</a>
    </li>
    <li>
        <a href="/users">用户管理</a>
    </li>
    <li>
        <a href="/brand.html">品牌管理</a>
    </li>
    <li>
        <a href="/phone.html">手机管理</a>
    </li>
</ul>