<ul class="lv_menu">
    <!-- <li>
        <a href="/logon.html">登录</a>
    </li>
    <li>
        <a href="/register.html">注册</a>
    </li> -->
    <li>
        <a href="/users/index">首页</a>
    </li>
        <% if(isAdmin=="true"){ %> <li><a href="/users">用户管理</a> </li><% }%>
    <li>
        <a href="/users/brand">品牌管理</a>
    </li>
    <li>
        <a href="/users/phone">手机管理</a>
    </li>
</ul>